###                                                                       ###
###                  msearchの設定ファイル(config.dat)                    ###
###                                                                       ###
###                                                 Written by K.Matsuda  ###
###                                        Special thanks penguin-19 san  ###

#============================================================================
# 　このファイルは必ず漢字コードをEUC，改行コードをLF（UNIX）にしてサーバに
# アップロード保存してください．
# 　検索結果が文字化けする場合は，このファイルの漢字コードがEUCかチェックし
# てください．
# 　「フォーマットの書式エラー(no page definition)」というエラーが出る場合
# は，このファイルの改行コードをチェックしてください．
# このファイルの中では，行頭に「#」があるとその行はコメントとして扱われ，無
# 視されます．
#============================================================================

#============================================================================
#　１．変数の設定
#============================================================================
#　各変数の行頭の「#」を外さないと有効になりません．

# ホームページのURL(デフォルト="")
set $home=http://www.zob.ne.jp/~goripon/tmbbslog/top.html

# マッチキーワードのハイライトをするか(デフォルト=1)
#set $highlight=0

# マッチキーワードのハイライトの書式(デフォルト=<b>)
set $highlight_deco=<b style='color:green;background-color:#ffff66'>

# サーバマシンとの時差(例えば，サーバが米国西海岸にあり，日本時間にしたい
# 場合は"17"にする)(デフォルト=0)
#set $tzdiff=17

# タイトルがないページのタイトル部分表示方法(デフォルト=タイトルなし)
#set $notitle=No title

# ログを出力するか(デフォルト=0(しない))
#set $log=1

# ログファイルのファイル名(デフォルト=msearch.log)
#set $logfile=msearch.log

#============================================================================
#　２．検索結果画面，ヘルプ画面（初期画面）のフォーマット
#============================================================================
# 　以下は検索結果画面，ヘルプ画面（初期画面）のフォーマット部です．次のように
# 分かれています．
# 2-0を必ず読んでから変更してください．
#2-0.　フォーマット変数の説明
#2-1.　検索結果画面のフォーマット
#2-2.　検索結果画面の各項目の設定とフォーマット
#2-3.　ヘルプ画面（初期画面）のフォーマット

#---------------------------------------------------
#　2-0　フォーマット変数の説明
#---------------------------------------------------
# 　2-1以降は通常のHTMLで記述されています．HTMLさえわかれば自由に画面を設計
# できます．
# 　唯一違うのは，特殊な変数を埋め込んでおくと，msearchが自動的にその変数部
# 分を差し替えて表示する，という点です．例えば，「$$msearch$$」と書いておく
# と，この部分が「msearch.cgi」に替わります．この特殊な変数のことをフォーマ
# ット変数と呼びます．
# 　検索結果画面，ヘルプ画面（初期画面）それぞれで使える変数が違います．各
# 画面フォーマットの前に，そこで使える変数を一覧にしていますので，参照して
# ください．

#---------------------------------------------------
#　2-1.　検索結果画面のフォーマット
#---------------------------------------------------
# 以下のフォーマット変数が使えます．実際には変数の前後を「$$」で挟みます．
# msearch - cgi名
# home - ホームページのURL
# query - 現在の検索式
# rpp - １ページあたりの表示件数
# total - 検索結果総数
# set - 現在の検索セットの番号
# from - 現在ページに表示される先頭件数
# to - 現在ページに表示される後尾件数
# displaynum - 現在ページ表示される件数
# cputime - かかった処理時間
# indexdate - インデックスの最終更新日時
# indexnum - インデックスに登録されているページ総数
# nowdate - 現在日時
# msearchhp - msearchの配布ページのURL
# version - msearchのバージョン
# result - 検索結果の各項目のフォーマット
# previous - 直前セットへのアクセスリンクのフォーマット
# next - 直後セットへのアクセスリンクのフォーマット
# pset - 現セット以前の検索セットへのアクセスリンクのフォーマット
# cset - 現セットへのアクセスリンクのフォーマット
# nset - 現セット以降の検索セットへのアクセスリンクのフォーマット
#----------------------------------------------------------------------------
begin page
<html>
<head>
# ↓の2行は変更しない方が無難
<meta http-equiv="Content-Type" content="text/html;charset=euc-jp">
<meta http-equiv="Content-Language" content="jp">
<title>UNOFFICIAL TYPE-MOON BBS過去ログ 検索結果 Powered by msearch</title>
<STYLE TYPE="text/css">
<!--
	.titlebar { background-color: royalblue; color: white; font-weight: bold; font-family: "Courier New", "Courier", monospace; width: 100%; }
	.warnningmessage { background-color: silver; color: black; font-size: 8px; }
	BODY { margin: 0px 0px 0px 0px; }
	TH { font-family: "Courier New", "Courier", monospace; }
	.courier { font-family: "Courier New", "Courier", monospace; font-weight: bold; }
	.title { font-size: 20px; color: navy; }
	.writer { font-size: 20px; }
	HR.interarticle { height: 3px; color: royalblue; }
	HR.mini { height: 1px; color: royalblue; width: 99%; }
	.delete { background-color: red; color: white; font-weight: bold; }
	td{ font-size: 10pt;letter-spacing:1pt; }
	input,textarea{	border-top : 1px solid ; border-bottom : 1px solid ; border-left : 1px solid ; border-right : 1px solid ;font-size:10pt;background-color:#FFFFFF; }
-->
</STYLE>
</head>
<body bgcolor=white>
<center>
<table border=0 cellspacing=0 cellpadding=3 width=100%>
  <tr>
    <td align=left><font size=-1>
      <a href="$$home$$">掲示板トップに戻る</a>
      <a href="$$msearch$$">ヘルプ</a></font>
    </td>
    <td align=center>
    </td>
    <td align=right><font size=-1 color=#3366cc>
      Powered by msearch</font>
    </td>
  </tr>
  <tr>
    <td bgcolor=#008080 align=left width=33%>
      <font size=-1 color=white>$$from$$件目から$$to$$件目を表示します．</font>
    </td>
    <th bgcolor=#008080 align=center width=34%>
      <font color=#000000>検索モード</font>
    </th>
    <td bgcolor=#008080 align=right width=33%>
      <font size=-1 color=white>検索にかかった時間$$cputime$$秒&nbsp;</font>
    </td>
  </tr>
</table>
# 検索セットへのアクセスは上と下に同じものを付けています
$$previous$$
$$pset$$
$$cset$$
$$nset$$
$$next$$
<br><br>検索したい単語をスペースで区切って入力してください。<br>
#                                            ↓euc-jpは変更しないこと
<form action="$$msearch$$" accept-charset="euc-jp">
<table border=0 cellspacing=0 cellpadding=3>
  <tr>
    <td align=left>
      <input type=text size=30 name="query" value="$$query$$">
      <input type=submit value="検索">
    </td>
  </tr>
</table>
<input type=hidden name="set" value="1">
<input type=hidden name="num" value="$$rpp$$">
</form>
</center>
<dl>
<dt>検索結果$$total$$件
<dt><hr width=100%>
# ↓ここに検索結果のヒット項目が繰り返されて表示される
$$result$$
</dl>
<center>
<br><br>
# 検索セットへのアクセスは上と下に同じものを付けています
<table border=0 cellspacing=0 width=100% style="margin-bottom:1ex">
  <tr>
    <td align=center>
$$previous$$
$$pset$$
$$cset$$
$$nset$$
$$next$$
    </td>
  </tr>
  <tr>
    <td bgcolor=#008080 align=center>
      <font color=white>&nbsp;</font>
    </td>
  </tr>
</table>
</center>
</body>
</html>
end
#----------------------------------------------------------------------------

#---------------------------------------------------
#　2-2.　検索結果画面の項目の設定とフォーマット
#---------------------------------------------------
# 　ここでは2-1の検索画面に埋め込まれる検索結果の各項目を設定します．
# 2-1の検索画面に埋め込んでいない項目は設定する必要はありません．
# 例：$$previous$$と$$next$$を埋め込んでいない場合はbegin previous〜endと
#     begin next〜endの項目は必要ありません．

# ●ヒット項目の表示
# 　「begin result 10」の10は1ページに表示する項目数．ページあたり20にした
# い場合は「begin result 20」とする．
# 以下のフォーマット変数が使えます
# resultnum - 項目の通し番号
# url - 項目のURL
# urldeco - 項目のURL(url検索の場合はハイライトされる)
# title - 項目のタイトル
# summary - 項目のサマリー
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin result 10
<dt>[<a href="$$url$$">$$title$$</a>] <font size=-1 color=#009900>$$url$$</font><br><br>
<dd><font size=-1>$$summary$$</font>
<dt><br><br><hr width=100%>
end
#----------------------------------------------------------------------------


# ●表示ページの直前のページを表示するリンクの設定
# 以下のフォーマット変数が使えます
# previousurl - 直前セットへのアクセスURL
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin previous
<a href="$$previousurl$$">[前へ]</a>&nbsp;|&nbsp;
end
#----------------------------------------------------------------------------


# ●表示ページの直後のページを表示するリンクの設定
# 以下のフォーマット変数が使えます
# nexturl - 直後セットへのアクセスURL
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin next
&nbsp;|&nbsp;<a href="$$nexturl$$">[次へ]</a>
end
#----------------------------------------------------------------------------


# ●表示ページより前のページを表示するリンクの設定
# 　「begin pset 5」の5はこのページより最大5ページ前までを表示する，という
# 意味．
# 以下のフォーマット変数が使えます
# seturl - 検索セットへのアクセスURL
# setnum - 検索セットの番号
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin pset 5
<a href="$$seturl$$">[$$setnum$$]</a>
end
#----------------------------------------------------------------------------


# ●表示ページを表す部分
# 以下のフォーマット変数が使えます
# set - 現在の検索セットの番号
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin cset
[$$set$$]
end
#----------------------------------------------------------------------------


# ●表示ページより後のページを表示するリンクの設定
# 　「begin nset 5」の5はこのページより最大5ページ後までを表示する，という
# 意味．
# 以下のフォーマット変数が使えます
# seturl - 検索セットへのアクセスURL
# setnum - 検索セットの番号
# rpp - １ページあたりの表示件数
#----------------------------------------------------------------------------
begin nset 5
<a href="$$seturl$$">[$$setnum$$]</a>
end
#----------------------------------------------------------------------------


#---------------------------------------------------
#　2-3.　ヘルプ画面のフォーマット
#---------------------------------------------------
# 　ここでは引数なしでmsearch.cgiが呼ばれた場合や，検索条件を入力しないで
# 検索ボタンが押された場合に表示するヘルプ画面を設定します．
# 以下のフォーマット変数が使えます
# msearch - cgi名
# home - ホームページのURL
# rpp - １ページあたりの表示件数
# cputime - かかった処理時間
# indexdate - インデックスの最終更新日時
# indexnum - インデックスに登録されているページ総数
# nowdate - 現在日時
# msearchhp - msearchの配布ページのURL
# version - msearchのバージョン
#----------------------------------------------------------------------------
begin help
<html>
<head>
# ↓の2行は変更しない方が無難
<meta http-equiv="Content-Type" content="text/html;charset=Shift_JIS">
<meta http-equiv="Content-Language" content="jp">
<title>UNOFFICIAL TYPE-MOON BBS過去ログ 検索 Powered by msearch</title>
</head>
<body bgcolor=white>
<center>
#                                         ↓euc-jpは変更しないこと
<form action="$$msearch$$" accept-charset="euc-jp">
<table border=0 cellspacing=0 cellpadding=3>
  <tr>
    <td align=left><font size=-1>
      <a href="$$home$$">掲示板トップに戻る</a>
      <a href="$$msearch$$">ヘルプ</a></font></td>
    <td align=right><font size=-1 color=#3366cc>
      Powered by msearch</font></td>
  </tr>
  <tr>
    <td colspan=2 align=center><font size=-1>
      <b>BBS過去ログ検索</b>&nbsp;&nbsp;
      <input type=text size=30 name="query" value="">
      <input type=submit value="検索"></font></td>
  </tr>
</table>
<input type=hidden name="set" value="1">
<input type=hidden name="num" value="$$rpp$$">
</form>
<table border=0 cellspacing=0 width=98%>
  <tr>
    <td colspan=2 bgcolor=#008080 align=left>
      <font size=-1 color=white>&nbsp;インデックスページ数　$$indexnum$$</font></td>
  </tr>
</table>
<p>
<b>msearch (ver.$$version$$) を使った検索方法</b>
<p>
<table width=80% cellspacing=0 cellpadding=8 frame="vsides" style="margin-top:0ex">
  <tr>
    <td align=center>
      <table border=1 width=95%>
        <tr>
          <td nowrap=true align=center><font size=-1>例</font></td>
          <td align=center><font size=-1>意味</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>AAA</font></td>
          <td><font size=-1>キーワード「AAA」を含むページを検索．</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>AAA BBB</font></td>
          <td><font size=-1>キーワード「AAA」と「BBB」を両方とも含むページ
              を検索．</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>-AAA</font></td>
          <td><font size=-1>キーワード「AAA」を含まないページを検索．</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>(AAA BBB)</font></td>
          <td><font size=-1>キーワード「AAA」か「BBB」のどちらか一方もしくは
            両方を含むページを検索．(AAA BBB CCC)のように2つ以上のキーワード
            でもOKです．ただし，ネストはできません．</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>t:AAA</font></td>
          <td><font size=-1>キーワード「AAA」がページのタイトルに含まれる
              ページを検索．tは大文字(T)でもOKです．</font></td>
        </tr>
        <tr>
          <td nowrap=true><font size=-1>u:AAA</font></td>
          <td><font size=-1>キーワード「AAA」をページのURLに含むページを
              検索．uは大文字(U)でもOKです．</font></td>
        </tr>
      </table>
  </tr>
  <tr>
    <td align=center>
      <table border=0 width=80%>
        <tr>
          <td nowrap=true align=center valign=top><font size=-1>(1)</font></td>
          <td><font size=-1>キーワード間は半角スペース，全角スペース，全角
              カンマ，半角カンマのいずれかで区切って下さい．また，OR検索の
              "("や")"は全角でもOKですし，OR検索内の区切りも上の区切り文字
              のいずれでもOKです．</font></td>
        </tr>
        <tr>
          <td nowrap=true align=center valign=top><font size=-1>(2)</font></td>
          <td><font size=-1>半角英数文字と全角英数文字，英文字の大文字と小
              文字は区別せずに検索します．</font></td>
        </tr>
        <tr>
          <td nowrap=true align=center valign=top><font size=-1>(3)</font></td>
          <td><font size=-1>上の条件式をどのようにでも組み合わせて検索式を
              作ることができます．<br>例えば，「A B (C D) (E F G) -H t:I u:J」
              等の複雑な検索式も可能です．<br>この検索式の意味は，『AとBを
              含み，かつCかDを含み，かつEかFかGを含み，かつHを含まず，かつ
              タイトルにIを含み，かつURLにJを含む』となります．</font></td>
        </tr>
        <tr>
          <td nowrap=true align=center valign=top><font size=-1>(4)</font></td>
          <td><font size=-1>「-1」のようなマイナスから始まる文字を検索したい
              場合は，「"-1"」のように半角のダブルクオーテーション(")で囲って
              下さい．さもないと「1」を含まないというNOT検索になってしま
              います．ただし，OR検索内ではダブルクオーテーションは必要あり
              ません(例：「(-1,-2)」で-1か-2を含むというOR検索になります)．
              </font></td>
        </tr>
        <tr>
          <td nowrap=true align=center valign=top><font size=-1>(5)</font></td>
          <td><font size=-1>「(^o^)」や「(株)」のようなカッコで囲まれた文字
              を検索したい場合は，そのまま入力して下さい．ただし，上の区切り
              文字がカッコ中に含まれる場合は，OR検索になります．</font></td>
        </tr>
      </table>
  </tr>
</table>
<p>
<font size=-1>
msearchとはKatsushi Matsudaが開発した設置が容易で高速な全文検索エンジンです．
<br>
ダウンロードは<a href="$$msearchhp$$">
HP内全文検索エンジンmsearch</a>からどうぞ．
<p>
<table border=0 cellspacing=0 width=98%>
  <tr>
    <td colspan=2 bgcolor=#008080 align=left>
      <font size=-1 color=white>&nbsp;処理時間 $$cputime$$秒</font></td>
  </tr>
</table>
</center>
</body>
</html>
end
#----------------------------------------------------------------------------

